#include <windows.h>
#include <commctrl.h>
//#include <richedit.h>
#include "opengl1rc.h"

IDD_DIALOG1  DIALOG 0, 0, 580, 358
STYLE DS_SETFONT | DS_CENTER | WS_CAPTION | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_SYSMENU | WS_THICKFRAME
CAPTION "OpenGL Test 1.0"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Sans Serif"
{
  DEFPUSHBUTTON   "OK", 1, 17, 309, 50, 14
  PUSHBUTTON   "OpenGL", IDB_OPENGL, 75, 308, 50, 14
  EDITTEXT   IDC_EDIT1, 15, 7, 190, 141, NOT WS_BORDER | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
  LTEXT   "", IDC_OPENGL, 212, 7, 288, 293, WS_CLIPSIBLINGS | WS_CLIPCHILDREN
  EDITTEXT   IDC_EDIT2, 15, 153, 190, 147, NOT WS_BORDER | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
}
