101 DIALOG 0, 0, 580, 358
STYLE DS_SETFONT | DS_CENTER | WS_CAPTION | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_SYSMENU | WS_THICKFRAME
CAPTION "OpenGL Test 1.0"
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
FONT 8, "MS Sans Serif"
{
  DEFPUSHBUTTON   "OK", 1, 17, 309, 50, 14
  PUSHBUTTON   "OpenGL", 1002, 75, 308, 50, 14
  EDITTEXT   1000, 15, 7, 190, 141, NOT WS_BORDER | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
  LTEXT   1001, 212, 7, 288, 293, NOT WS_GROUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
  EDITTEXT   1003, 15, 153, 190, 147, NOT WS_BORDER | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
}
